{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleado:notificaciones_create' %}">Notificaciones</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'core:index' %}">Home</a></li>
{% endblock titulo %}


{% block imagen %}
   {% static 'empleado/img/empleado.webp' %}
{% endblock imagen %}


{% block pagina%}
   PORTAL EMPLEADO
{% endblock pagina%}

{% block mensaje%}
    ¡Bienvenido! Comunicate facilmente con tu empleador
{% endblock mensaje%}

{% block formulario %}

        <br>
        <div class="row justify-content-center m-0 mt-4">
            <div class="col-lg-12 text-center">
                <h3 class="text-primary mb-4">NOTIFICACIONES RECIBIDAS</h3>
            </div>
        </div>



        {% if object_list %}
        <div class="row justify-content-center m-0">
            <div class="col-lg-6  ">
                <ul class="list-group">
                    {% for notificaciones in object_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            {% if notificaciones.leido %}
                                <span class="badge bg-success">Leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% else %}
                                <span class="badge bg-warning text-dark">No leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {{notificaciones}}
                         </div>
                        <div>
                            <a href="{% url 'empleado:pagos_detail' notificaciones.id %}" class="btn btn-sm btn-primary mx-1">Detalle</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="row justify-conte nt-center m-0">
            <div class="col-lg-5 text-center">
                <p class="text-muted">No se encontraron pagos para la búsqueda solicitada.</p>
            </div>
        </div>
        {% endif %}


{% endblock formulario%} 

