{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleado:notificaciones_create' %}">Notificaciones</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" style="background-color: #6dafec; padding: 5px 10px; border-radius: 5px;">{{ user }}</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link py-3 px-0 px-lg-3 rounded" style="background-color: #d81952; padding: 5px 10px; border-radius: 5px; border: none; color: white;">Salir</button>

        </form>
    </li>
{% endblock titulo %}


{% block imagen %}
   {% static 'empleado/img/empleado.webp' %}
{% endblock imagen %}


{% block pagina%}
   PORTAL EMPLEADO
{% endblock pagina%}

{% block mensaje%}
    ¡Bienvenido! Comunicate facilmente con tu empleador
{% endblock mensaje%}

{% block formulario %}

        <br>
        <div class="row justify-content-center m-0 mt-4">
            <div class="col-lg-12 text-center">
                <h3 class="text-primary mb-4">NOTIFICACIONES RECIBIDAS</h3>
            </div>
        </div>



        {% if object_list %}
        <h3 class="text-center">Pagos</h3>
        <div class="row justify-content-center m-0">
            <div class="col-lg-6">
                <ul class="list-group">
                    {% for item in object_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            {% if item.leido %}
                                <span class="badge bg-success">Leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% else %}
                                <span class="badge bg-warning text-dark">No leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {{ item }}
                         </div>
                        <div>
                            <a href="{% url 'empleado:pagos_detail' item.id %}" class="btn btn-sm btn-primary mx-1">Detalle</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
                <div class="row justify-content-center m-0">
                    <div class="col-lg-5 text-center">
                        <h3 class="text-center">Pagos</h3>
                        <p class="text-muted">No hay notificaciones</p>
                    </div>
                </div>

        {% endif %} <br><br>
    
            {% if suspensiones %}
            <h3 class="text-center">Suspensiones</h3>
            <div class="row justify-content-center m-0">
                <div class="col-lg-6">
                    <ul class="list-group">
                        {% for item in suspensiones %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                {% if item.leido %}
                                    <span class="badge bg-success">Leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                {% else %}
                                    <span class="badge bg-warning text-dark">No leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                                {{ item }}
                            </div>
                            <div>
                                <a href="{% url 'empleado:suspensiones_detail' item.id %}" class="btn btn-sm btn-primary mx-1">Detalle</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
                <div class="row justify-content-center m-0">
                    <div class="col-lg-5 text-center">
                        <h3 class="text-center">Suspensiones</h3>
                        <p class="text-muted">No hay notificaciones</p>
                    </div>
                </div>
        {% endif %} <br><br>


        {% if vacaciones %}
            <h3 class="text-center">Vacaciones</h3>
            <div class="row justify-content-center m-0">
                <div class="col-lg-6">
                    <ul class="list-group">
                        {% for item in vacaciones %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                {% if item.leido %}
                                    <span class="badge bg-success">Leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                {% else %}
                                    <span class="badge bg-warning text-dark">No leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                                {{ item }}
                            </div>
                            <div>
                                <a href="{% url 'empleado:vacaciones_detail' item.id %}" class="btn btn-sm btn-primary mx-1">Detalle</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
                <div class="row justify-content-center m-0">
                    <div class="col-lg-5 text-center">
                        <h3 class="text-center">Vacaciones</h3>
                        <p class="text-muted">No hay notificaciones</p>
                    </div>
                </div>
        {% endif %} <br><br>
        
    


{% endblock formulario%} 

