{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleado:register' %}">Registrarse</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'core:index' %}">Home</a></li>
{% endblock titulo %}


{% block imagen %}
   {% static 'empleado/img/empleado.webp' %}
{% endblock imagen %}


{% block pagina%}
   INICIAR SESION
{% endblock pagina%}

{% block mensaje%}
    PORTAL EMPLEADO
{% endblock mensaje%}

{% block formulario %}
   <div class="container mt-4 mb-4" >
      <form action="" method="post" autocomplete="off">
         {% csrf_token %}
         <table class="mx-auto" style="border-collapse: separate; border-spacing: 0 20px;">
            {{ form.as_table }}
            <input type="hidden" name="next" value="{% url 'empleado:index' %}">
         </table>
         <div class="text-center ">
            <button type="submit" class="btn btn-primary mt-3">Iniciar Sesion</button>
         </div>
      </form>
   </div>
{% endblock formulario %}