{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleado:buscar' %}">Volver</a></li>
{% endblock titulo %}

{% block imagen %}
   {% static 'empleado/img/empleado.webp' %}
{% endblock imagen %}

{% block pagina%}
   PORTAL EMPLEADO
{% endblock pagina%}

{% block mensaje%}
    VACACIONES OTORGADAS
{% endblock mensaje%}




{% block formulario%}
    <br>
    {% if vacaciones %}
        <div class="row justify-content-center m-0 ">
            <div class="col-lg-8     ">
                <ul class="list-group">
                    {% for vacacion in vacaciones %}
                    <li class="list-group-item">{{vacacion.empleado.nombre}} {{vacacion.empleado.apellido}} tus vacaciones comienzan el día {{ vacacion.fecha_inicio }} y finalizan el día {{ vacacion.fecha_fin }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center m-0">
            <div class="col-lg-5 text-center">
                <p class="text-muted">No se encontraron vacaciones para la búsqueda solicitada.</p>
            </div>
        </div>    
    {% endif %}
    <br>
{% endblock formulario%}

