{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:empleado_create' %}">Empleado Nuevo</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:pagos_create' %}">Pagos</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:vacaciones_create' %}">Vacaciones</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:empleador_create' %}">Registrarse</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'core:index' %}">Home</a></li>
{% endblock titulo %}

{% block imagen %}
   {% static 'empleador/img/empleador.webp' %}
{% endblock imagen %}

{% block pagina%}
   PORTAL EMPLEADOR
{% endblock pagina%}

{% block mensaje%}
    ¡Bienvenido! Organiza y gestiona tu personal
{% endblock mensaje%}

