{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:empleado_buscar' %}">Empleados</a>
    </li>

    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:empleador_create' %}">Empleadores</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded" style="background-color: #6dafec; padding: 5px 10px; border-radius: 5px;">{{ user }}</a>
    </li>
    <li class="nav-item mx-0 mx-lg-1">
        <form action="{% url 'empleador:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link py-3 px-0 px-lg-3 rounded" style="background-color: #d81952; padding: 5px 10px; border-radius: 5px; border: none; color: white;">Salir</button>

        </form>
    </li>



{% endblock titulo %}

{% block imagen %}
   {% static 'empleador/img/empleador.webp' %}
{% endblock imagen %}

{% block pagina%}
   PORTAL EMPLEADOR
{% endblock pagina%}

{% block mensaje%}
    ¡Bienvenido! organiza y gestiona tu personal 
{% endblock mensaje%}

{% block formulario %}

        <br>
        <div class="row justify-content-center m-0 mt-4">
            <div class="col-lg-12 text-center">
                <h3 class="text-primary mb-4">NOTIFICACIONES RECIBIDAS</h3>
            </div>
        </div>
        
      

        {% if object_list %}
        <div class="row justify-content-center m-0">
            <div class="col-lg-6  ">
                <ul class="list-group">
                    {% for notificaciones in object_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            {% if notificaciones.leido %}
                                <span class="badge bg-success">Leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% else %}
                                <span class="badge bg-warning text-dark">No leído</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {{notificaciones}}
                        </div>
                        <div>
                            <a href="{% url 'empleado:pagos_detail' notificaciones.id %}" class="btn btn-sm btn-primary mx-1">Detalle</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        {% else %}
        <div class="row justify-content-center m-0">
            <div class="col-lg-5 text-center">
                <p class="text-muted">No hay notificaciones</p>
            </div>
        </div>
        <br>
        {% endif %}


{% endblock formulario%} 

