{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:login' %}">Iniciar Sesion Nuevamente</a></li>
   <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'core:index' %}">Home</a></li>
{% endblock titulo %}

{% block imagen %}
   {% static 'core/img/cerrado.webp' %}
{% endblock imagen %}

{% block pagina%}
   Sesion Cerrada Exitosamente
{% endblock pagina%}

{% block mensaje%}
   Por favor, vuelve a iniciar sesión para continuar utilizando nuestra plataforma. Gracias.
{% endblock mensaje%}
