{% extends 'core/base.html' %}
{% load static %}


{% block  titulo%}
   <li class="nav-item mx-0 mx-lg-1">
      <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'empleador:index' %}">Volver</a>
   </li>
 
{% endblock titulo %}

{% block imagen %}
   {% static 'empleador/img/empleador.webp' %}
{% endblock imagen %}

{% block pagina%}
   DETALLE DE NOTIFICACIONES
{% endblock pagina%}

{% block mensaje%}
   PORTAL EMPLEADOR
{% endblock mensaje%}

{% block formulario %}
   <br>

   <div class="detalle-notificaciones">
      <h2 class="text-center">{{ object.empleado.apellido}}, {{ object.empleado.nombre }}</h2><br>
      <div class="row row-cols-1 row-cols-md-2 g-4">
         <div class="col">
            <div class="card text-center">
                  <div class="card-body">
                     <h5 class="card-title">Empresa</h5>
                     <p class="card-text">{{ object.empleado.empleador.razonSocial }}</p>
                  </div>
            </div>
         </div>
         <div class="col">
            <div class="card text-center">
                  <div class="card-body">
                     <h5 class="card-title">CUIL</h5>
                     <p class="card-text">{{ object.empleado.cuil }}</p>
                  </div>
            </div>
         </div>
         <div class="col">
            <div class="card text-center">
                  <div class="card-body">
                     <h5 class="card-title">Fecha de Notificación</h5>
                     <p class="card-text">{{ object.fecha_notificacion }}</p>
                  </div>
            </div>
         </div>
         <div class="col">
            <div class="card text-center">
                  <div class="card-body">
                     <h5 class="card-title">Descripcion</h5>
                     <p class="card-text">{{ object.descripcion }}</p>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <br>
   
{% endblock formulario %}